# Global environment variables for docker-compose
# Copy this file to .env and fill in your values

# ---- REQUIRED ----
OPENROUTER_API_KEY=your_openrouter_api_key_here
HF_TOKEN=your_huggingface_token_here
JWT_SECRET=j1WQjbYqkjImzp0etlJQRgI4alxtRxGTgAJalevJKKDAuuHFm2gbPNXcRxMzYNQ1nUJd6hYNVPkScjrEZr0aGA==

# ---- POSTGRESQL ----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# ---- AI SERVICE ----
COLLECTION_NAME=legal_rag_lora
EMBEDDING_ADAPTER=trunghieu1206/lawchatbot-40k
LLM_MODEL=google/gemini-2.5-flash
TOP_K=15
