secrets.txt

skills

notes.txt

law_cases

real_law_cases_data

generate_qa_from_laws_vb2017.py

datasets_gen.log

generation.log

gen_data_tutorial.txt

ai-service/scraped_datasets/scraped_texts.json

ai-service/scraped_datasets/toaan_gov_datasets_2.json

ai-service/logs/llm_extract.log

llm_progress.txt

scrape_progress.txt

scrape.log

ai-service/scripts/

ai-service/laws_documents_raw/

ai-service/logs

# Ignore all datasets
ai-service/scraped_datasets/
ai-service/test_datasets/

.docx

scripts/
